In [31]:
# simple name of the arguments represent the single argument

# name of argument with the single * symbol represent the arguments
# with multiple propositional argument

# argument name with double * sign represent the keyword argument with
# multiple keyword argument

def cheeseshop(kind, *arguments, **keywords):
              print("--do you have any",kind,"?")
              print("--I'm sorry, we're all out of",kind)
              for proarg in arguments:
                  print(proarg)
              print("-"*40)
              for kw in keywords:
                  print(kw,":",keywords[kw])
              
cheeseshop("Limburger","It's very runny,sir.",
           "It's really very,Very runny,Sir.",
           shopkeeper="michael Palin",
           client="John Cleese",
           sketch="cheese Shop Sketch")

--do you have any Limburger ?
--I'm sorry, we're all out of Limburger
It's very runny,sir.
It's really very,Very runny,Sir.
----------------------------------------
shopkeeper : michael Palin
client : John Cleese
sketch : cheese Shop Sketch

In [41]:
def foo(*positional, **keywords):
    print ("Positional:", positional)
    print ("Keywords:", keywords)
    
foo('one', 'two', 'three')
Positional: ('one', 'two', 'three')
Keywords: {}

Positional: ('one', 'two', 'three')
Keywords: {}

In [39]:
letters=["a","b","c"]
letters.append("d")
print(len(letters))
letters.append("mukesh")
print(len(letters))
letters

4
5

['a', 'b', 'c', 'd', 'mukesh']

In [46]:
nums=[1,2,3,4,5,6]
nums.append(10)
nums.insert(0,-7)
nums.insert(4,100)
print(len(nums))
nums

9

[-7, 1, 2, 3, 100, 4, 5, 6, 10]

In [67]:
def concat(*args,sep="/"):
    return sep.join(args)
concat("earth","mars","venus")

'earth/mars/venus'

In [108]:
def concat(*arg,dot="."):
    return dot.join(arg)
concat("mukesh","mahara")

'mukesh.mahara'

In [122]:
list(range(3,6)) #normal call with separate arguments

[3, 4, 5]

In [132]:
args=[3,10]     #call with arguments unpacked from a list
list(range(*args))

[3, 4, 5, 6, 7, 8, 9]

In [152]:
#lamda expression or function(Anonymous function)
lambda_function = lambda x:x*2+x*x
print(lambda_function(10))

120

In [187]:
pairs=[(1,'one'),(2,'two'),(3,'three'),(4,'four'),(5,'five'),(6,'six'),]
pairs.sort(key=lambda pair:pair[1])
pairs.sort
pairs

[(5, 'five'), (4, 'four'), (1, 'one'), (6, 'six'), (3, 'three'), (2, 'two')]

In [212]:
#calling function inside a function 

def add(x,y):
    return x+y
def do_twice(function, x, y):
    return function(function(x,y), function(x,y))
a=5
b=10

print("Result :",do_twice(add,a,b))

Result : 30